# Smart Receipts Backend Requirements
uvicorn[standard]==0.34.2
python-multipart==0.0.9
fastapi==0.115.12
openai
beautifulsoup4
requests
asyncpg
python-dotenv
pyjwt[crypto]
cryptography
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pdf2image
PyPDF2
pillow
weasyprint
dropbox
PyMuPDF